* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    
    
}

body {
  background-color: #D8D8D8;
  max-width: 800px;


}

header {
    padding: 10px 0;
    background-color: #7AA874;
}


div {
    display: flex;
    flex-flow: column;
    

}

input {
 margin: 10px;
 border: none;
 padding: 10px;
 border-radius: 10px;
 font-size: 1rem;
 outline: none;
}

h1 {
    
    text-align: center;
}



.wrapper {
    padding: 15px;
    font-size: 1.25rem;
    display: flex;
    flex-flow: column;
    background-color: #7AA874;
    margin: 20px;
    border-radius: 20px;
}


.wrapper-detail {
    padding: 10px;
}

button {
    margin: 20px;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #245953;
    color: white;

}

label {
    font-style: italic;
    font-size: 12px;
}


#result {
    height: 30px;
    border: none;
    text-align: center;
}